<div draggable="true" class="item-container">
    <div class="display-content">
        <h6 class="heading">Test</h6>
        <p>i am here.....</p>
    </div>
    <div class="edit-content" style="display: none;">
        <div>Title</div>
        <input type="text" val="test" />
        <div>Description</div>
        <textarea style="width: 100%; height: 50px;"></textarea>
        <button type="button" class="btn btn-success save-item-details">Save</button>
        <button type="button" class="btn btn-danger cancel-item">Cancel</button>
    </div>
    <span class="icon-edit glyphicon glyphicon-edit"></span>
</div>