<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand show-board-list" href="#">Boards</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav pull-right">
                <li><a class="add-icon-container" href="#"><span class="add-btn glyphicon glyphicon-plus"></span></a>
                </li>
                <li>
                    <a href="#" style="padding: 10px">
                        <span class="member"> <img class="member-avatar" height="30" width="30"
                                                   src={{avatarURL}}> </span>
                        <span>{{name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="well pull-right add-board-container" style="display: none;">
    <div class="add-board">
        <span>Add</span>
        <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    </div>
    <hr>
    <div class="add-details">
        <h4>New Board…</h4>
        <span class="sub-name">A board is a collection of cards ordered in a list of lists. Use it to manage a project, track a collection, or organize anything.</span>
    </div>
    <div class="add-new-board" style="display: none">
        <h4>Title</h4>
        <input type="text" class="js-board-name"/>

        <div class="alert-danger error" style="display: none"> Please add board name.</div>
        <div style="margin-top: 10px;">
            <button type="button" class="btn btn-success save-board">Save</button>
            <button type="button" class="btn btn-danger cancel-item">Cancel</button>
        </div>
    </div>
</div>


<div class="well pull-right boards" style="display: none;">
    <div>
        <span class="glyphicon glyphicon-list-alt"></span>
        <span>My Boards</span>
    </div>
    <hr style="margin-bottom: 10px;">
    <div class="all-boards"></div>
</div>